<?xml version="1.0" encoding="utf-8"?>
<Config>
  <!-- Ports for the Game Engines -->
  <ListenIP>0.0.0.0</ListenIP>
  <ChatIP>127.0.0.1</ChatIP>
  <ZoneIP>127.0.0.1</ZoneIP>
  <ChatPort>7012</ChatPort>
  <ZonePort>7501</ZonePort>
  <LoginPort>7500</LoginPort>
  <CommPort>6996</CommPort>
  <!-- Log Area -->
  <SqlLog>true</SqlLog>
  <LogChat>false</LogChat>
  <!-- Server MOTD -->
  <!-- {0} will be replaced with Cellao Name and Version eg Yalm 1.3.2.267 -->
  <Motd>Welcome to CellAO {0}, you Visit our Forums at http://www.aocell.co</Motd>
  <!-- Set this to true if you want to use encrypted passwords with your server you will need to supply each user the launcher we have created -->
  <UsePassword>false</UsePassword>
  <!-- Choose your SQL Databse Type here, MySql, MsSql, PostgreSQL-->
  <SQLType>MySql</SQLType>
  <!-- Sql Connection Setup Area -->
  <MysqlConnection>Database=cellao;Data Source=localhost;User ID=cellaodbuser;Password=password</MysqlConnection>
  <MsSqlConnection>Data Source=localhost;Inital Catalog=cellao;UserID=cellaodbuser;Password=password;Trusted_Connection=false</MsSqlConnection>
  <PostgreConnection>Server=localhost;User Id=cellaodbuser;Password=password;Database=cellao</PostgreConnection>
  <!-- This area is for Locale Settings, en = english, gr = german, ro = Romanian more languages will be supported later, Default = en-->
  <Locale>en</Locale>
</Config>